.logo {
  text-align: center;
  margin-top: 40px;
}

.navbar-nav {
  margin: auto;
  text-transform: uppercase;
  letter-spacing:  0.1em;;
}


/* about section starts here*/
.title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5em;
  font-size:4vw;
  justify-content: center;
}

.desc {
  align-items: center;
}

.item {
  margin: auto;
}
.btn {
  margin-left: 200px;
}
/* about section ends here */


/*contact page starts here*/
.form-group {
    max-width: 50%;
    margin-left: 20px;
    margin-top: 30px;
}
form {
  width: 60%;
  margin-left: 50px;
}
/*contact page ends here*/

/*portfolio section starts here*/
.work {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
.wrapper {
    display: block;
    /* margin: auto; */
    padding:55px 0;
  }
  
.wrapper .row {
    display: flex;
  }
  
.wrapper img {
    width: 33%;
    padding: 5px;
  }
/*portfolio section ends here*/

/*footer section starts here*/
footer {
  /* position:absolute; */
  background-color: #333;
  color: white;
  /* bottom: 0; */
  /* left: 0; */
  /* width: 100%;
  height: 30px; */
  /* margin-top: 30px; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-wrapper {
  padding: 40px 0;
}

footer p {
  margin: 0;
}

  /* unvisited link */
  a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: #ececec;
  }
  /*footer sections ends here*/

  /* #page-container {
    position: relative;
  } */
  
  /* #content-wrap {
    padding-bottom: 2.5rem;    
    /* Footer height */
  /* } */ 
  